.filterSidebar__section {
  background-color: #212529;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5.7rem;
  left: 0;
  width: 20%;
  margin: 10px 10px 0 10px;
  height: 88vh;
}
.filterSidebar__section span {
  padding-bottom: 1rem;
}
